<% layout( 'layout' ) -%>
<% stylesheet('/stylesheets/style.css') -%>

  <h1><%= title %></h1>
  <form action="/create" method="post" accept-charset="utf-8">
    <input type="text" name="content" />
    <input type="submit" value="送出">
  </form>
  <% todos.forEach(function(todo) { %>
    <p></p>
      <span>
        <a href="/edit/<%= todo._id %>" title="Update this todo item"><%= todo.content %></a>
      </span>
      <span>
        <a href="/destroy/<%= todo._id %>" title="Delete this todo item">Delete</a>
      </span>
    </p>
  <% }); %>